@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, white), color-stop(10%, #f5f7ff));
  background: linear-gradient(0deg, white 70%, #f5f7ff 10%);
}

@media (max-width: 488px) {
  body {
    font-size: 70%;
  }
}

body h1,
body h2,
body .attribution {
  color: #1e202a;
}

body p {
  color: #63687e;
}

.dark-mode {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(70%, #1e202a), color-stop(10%, #1f212e));
  background: linear-gradient(0deg, #1e202a 70%, #1f212e 10%);
}

.dark-mode h1,
.dark-mode h2,
.dark-mode .attribution {
  color: #fff;
}

.dark-mode p {
  color: #8b97c6;
}

.dark-mode .card,
.dark-mode .overview-card {
  background-color: #252a41;
}

.dark-mode .card:hover,
.dark-mode .overview-card:hover {
  background-color: #374062;
  cursor: pointer;
}

.card:hover,
.overview-card:hover {
  background-color: #e5e8f6;
  cursor: pointer;
}

.mb-1 {
  margin-bottom: 1em;
}

.header {
  padding: 3em 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 865px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1em 3em;
  }
}

.theme-switcher-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 865px) {
  .theme-switcher-btn {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 1em;
    padding: 1em 0;
    border-top: 2px solid #0000009a;
    width: 100%;
  }
}

.theme-switcher-btn p {
  margin-right: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

@media (max-width: 488px) {
  .switch {
    width: 40px;
    height: 20px;
  }
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch input:checked + .slider {
  background: -webkit-gradient(linear, left top, right top, from(#378fe6), to(#3eda82));
  background: linear-gradient(to right, #378fe6, #3eda82);
}

.switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

@media (max-width: 488px) {
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 488px) {
  .slider::before {
    width: 15px;
    height: 15px;
    left: 2px;
    bottom: 3px;
  }
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.top-card-container {
  padding: 1em 8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 865px) {
  .top-card-container {
    padding: 1em 3em;
  }
}

.card {
  height: 250px;
  min-width: 200px;
  width: 23.5%;
  background: #f0f2fa;
  margin: 5px 8px;
  border-radius: 8px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 865px) {
  .card {
    min-width: 40vw;
  }
}

@media (max-width: 530px) {
  .card {
    min-width: 90vw;
  }
}

.card.facebook {
  border-top: 3px solid #198ff5;
}

.card.twitter {
  border-top: 3px solid #1ca0f2;
}

.card.instagram::before {
  content: '';
  position: absolute;
  top: -3px;
  height: 100%;
  width: 100%;
  z-index: -100;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
}

.card.youtube {
  border-top: 3px solid #c4032a;
}

.card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2em;
}

.card-header img {
  margin-right: 0.5em;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1em;
}

.card-body p {
  text-transform: uppercase;
}

.card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5em;
}

.card-footer img {
  margin-right: 0.5em;
}

div.green p {
  color: #1db489;
}

div.red p {
  color: #dc414c;
}

.overview {
  padding: 1em 8em;
}

.overview-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.overview-card {
  background: #f0f2fa;
  height: 150px;
  min-width: 200px;
  width: 23.5%;
  margin: 5px 8px;
  padding: 1.5em;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 865px) {
  .overview-card {
    min-width: 30vw;
  }
}

@media (max-width: 530px) {
  .overview-card {
    min-width: 90vw;
  }
}

.overview-card-left, .overview-card-right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.overview-card-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.percent img {
  margin-right: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 2em;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */